/* navbar */
#navbar{
    position: fixed;
    top: 0;
    background-color: #c90000;
    width: 100%;
    overflow: hidden;
    height: 48px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 5;
}

#navbar a{
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    align-self: start;
    text-decoration: none;
    font: 400 16px Lato, sans-serif;
}

#navbar a:hover{background-color: #ff2222;
    color: #ffd900;
    text-decoration-line: underline;
}

.active{
    background-color: #bb0e0e;
}

.container{
    padding: 80px 120px
}

/* forms */
.form{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

/* buttons */
.btn{
    color: white;
    background-color: rgb(255, 183, 0);
}

.desc-rev{
    color: #333333;
    padding: 4% 30%;
}

.desc-rev:hover{
    background-color: #f6f6f6;
    text-decoration-line: underline;
}

/* .active{
    color: #333333;
} */

.button{
    color: white;
    font-weight:bold;
    background-color: #c90000;
}

/* links */
a:link{
    color:rgb(255, 183, 0);
}

a itemtitle{
    color:#333333;
}

a itemtitle:hover{
    color:rgb(255, 183, 0);
    text-decoration-line: underline;
}

/* modals */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body{
    margin: 0px;
}

h3{
    margin: 0px;
}






.message{
    color: #d93025;
}

/* divider */
hr.solid1 {
    border-top: 1px solid #bbb;
}

hr.solid2 {
    border-top: 2px solid #bbb;
}

hr.solidgold {
    border-top: 5px solid #bbb;
    border-color: rgb(255, 183, 0);
}