#navbar{
    position: fixed;
    top: 0;
    background-color: #c90000;
    width: 100%;
    overflow: hidden;
    height: 48px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 5;
}

#navbar a{
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    align-self: start;
    text-decoration: none;
    font: 400 16px Lato, sans-serif;
}

#navbar a:hover{background-color: #ff2222;
    color: #ffd900;
    text-decoration-line: underline;
}

.container{
    padding: 80px 120px
}

.form{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

.btn{
    color: white;
    background-color: rgb(255, 183, 0);
}

a:link{
    color:rgb(255, 183, 0);
}

body{
    margin: 0px;
}

h3{
    margin: 0px;
}

.active{
    background-color: #bb0e0e;
}

.button{
    color: white;
    font-weight:bold;
    background-color: #c90000;
}

.message{
    color:#d93025
}